body {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#search {
	.input-group-btn > .btn {
		img {
			height: 24px;
			display: none;
		}
		&.disabled {
			img {
				display: inline;
			}
			span {
				display: none;
			}
		}
	}
}

#sidebar {
	&.affix {
		top: 5px;
		@media (max-width: 991px) {
			position: static;
		}
		@media (min-width: 992px) {
		    width: 210px;
		}
		@media (min-width: 1200px) {
		    width: 260px;
		}
	}
	.label {
		display: inline-block;
		white-space: normal;
		text-align: left;
	}
}

#main_content {
	.alert {
		display: none;
	}
}